*{
    margin: 0;
    padding: 0;
}
body{
    /* display: flex; */
    width: 100%;
    /* justify-content: space-between; */
}
.div{
    border: 1px solid black;
    margin-left: 10%;
    width: 40%;
    margin-top: 20%;
    padding: 1%;
    height: 30%;
    text-align: center;
}
.div p{
    margin-top: 6%;
}
.div button{
    margin-top: 5%;
    width: 10%;
}
/* .side{
    width: 50%;
/* } */
.spotlight{
    height: 100vh;
    background-color: pink;
    text-align: center;
}
.spotlight h1{
    padding-top: 20%;
    font-size: 350%;
}
.box{
    height: 80vh;
}
.boxes{
    border: 1px solid black;
    height: 20%;
    margin-top: 20%;
    width: 300%;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.flexdown{
    margin-top: 20%;

}
.images{
    height: 100vh;
}
img{
    display: block;
    width: 100%;
}
.image img{
    width: 70%;
}
.image{
    display: flex;
    margin-left: 5%;
}
.gallery img{
    width: 70%;
}
.gallery{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}
.footer{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}
